.board {
  width: 800px;
  height: 640px;
}

.board-body::after {
  clear: both;
  content: "";
  display: block;
}

.box {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  float: left;
}

.rader.vertical {
  width: 320px;
  height: 40px;
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.rader.horizontal {
  width: 40px;
  height: 320px;
  margin-top: 40px;
  float: left;
}

.cell {
  box-sizing: border-box;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
}

.box .cell.inner {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.box.closed .cell.inner {
  background-color: #bbb;
}

.box.opened .cell.inner {
  background-color: #fff;
}

.box.opened .cell.inner.conjectured {
  background-color: #9f9;
}

.box .cell.outer {
  border: 1px solid transparent;
}

.box .cell .rader {
  color: #f00;
}

.rader .cell {
  background-color: #ccf;
  border-top: 1px solid #eef;
  border-left: 1px solid #eef;
  border-right: 1px solid #aaf;
  border-bottom: 1px solid #aaf;
}

.footer {
  margin-top: 16px;
}
