:root {
  --cell-size: 34px;
}

.app {
  width: 800px;
  height: 640px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  margin: 0 0 4px 0;
  font-size: 20pt;
}

h2 {
  margin: 0 0 4px 0;
  font-size: 15pt;
}

.desk-body::after {
  clear: both;
  content: "";
  display: block;
}

.box {
  width: calc(var(--cell-size) * 10);
  height: calc(var(--cell-size) * 10);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  float: left;
}

.rader.vertical {
  width: calc(var(--cell-size) * 8);
  height: var(--cell-size);
  margin-left: calc(var(--cell-size) * 2);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.rader.horizontal {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 8);
  margin-top: var(--cell-size);
  float: left;
}

.cell {
  box-sizing: border-box;
  cursor: pointer;
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: calc(var(--cell-size) - 10px);
  line-height: calc(var(--cell-size) - 2);
  text-align: center;
  vertical-align: middle;
}

.box .cell.inner {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.box.closed .cell.inner.mark0 {
  background-color: #668;
}

.box.closed .cell.inner.mark1 {
  background-color: #112;
}

.box.opened .cell.inner {
  background-color: #fff;
}

.box.opened .cell.inner.conjectured {
  background-color: #0a0;
}

.box .cell.outer {
  border: 1px solid transparent;
}

.box .cell img {
  pointer-events: none;
}

.rader .cell {
  background-color: #ccf;
  border-top: 1px solid #eef;
  border-left: 1px solid #eef;
  border-right: 1px solid #aaf;
  border-bottom: 1px solid #aaf;
}

.board .footer {
  margin-top: 8px;
  font-size: 11pt;
  line-height: 16pt;
}

.board .footer button {
  font-size: 10pt;
}

.board .footer .score {
  font-size: 15pt;
  font-weight: bold;
  color: #f00;
}

.info {
  margin-top: 8px;
  font-size: 11pt;
  line-height: 16pt;
}

.debug {
  margin-top: 8px;
  font-size: 11pt;
  line-height: 16pt;
}
